.tab--header {
  display: flex;
  align-items: flex-start;
  background-color: #027e02;
  .tab--item {
    display: block;
    padding: 1em;
  }
  .selected {
    background-color: #14db6e;
  }
}
.tab--details {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}
