.hero {
  display: flex;
  .carousel__list {
    flex-basis: 80%;
  }
  .sidebar {
    background: aqua;
    flex-basis: 20%;
    padding: 5px;
    .sidebar__card {
      padding: 5px;
      border: 1px;
      border-style: outset;
    }
  }
}

// home-jhjhj__carsouel1--
.card__carousel__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  .card__carousel {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin: 5px;
  }
}
