.tab {
    border-top-style: solid;
}
.tab--header {
    display: flex;
    align-items: center;

    .tab--item {
        display: block;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 1em;
        border-right: 2px;
        border-right-style: solid;
        border-right-color: white;
        transition: 0.2s;
    }

    .selected {
        color: black;
        background-color: white;
    }
}

.tab--item:hover {
    background-color: #0fb158;
    transform: scale(1.1) translateY(-5px);
    border: 0;
}

.tab--details {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .tab--header {
        overflow-x: scroll;
        overflow-x: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .tab--item {
            flex: 0 0 auto;
        }
    }
}
