.footer {
  margin: 0;
}

.footer--body {
  padding: 1em;
  background-color: #2ecc71;
  display: flex;
  justify-content: space-between;
}

.footer--body__left {
  flex-basis: 50%;
  padding-right: 1em;
}

.footer--body__right {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  ul {
    flex-basis: 50%;
    list-style: none;
    li {
      padding: 5px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer--footer {
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px;
}
