@import "../../../styles/variables.scss";
.admin__container {
  display: flex;
  height: 100vh;
  font-family: "Comfortaa", cursive;
  .sidebar {
    flex-basis: 15%;
    background-color: #ffffff;
    height: 100%;
    padding: 0;
  }
  .content {
    flex-basis: 85%;
    background-color: #f3f6fa;
    height: 100%;
    .main-content {
      padding: $admin-header-height 10px 0 10px;
      background-color: #f3f6fa;
      height: calc(100vh - #{$admin-header-height});
    }
  }
}
