.admin__container {
  display: flex;
  height: 100vh;
  font-family: "Comfortaa", cursive;
  .sidebar {
    flex-basis: 15%;
    background-color: #ffffff;
    height: 100%;
    padding: 0;
  }
  .content {
    flex-basis: 85%;
    background-color: #f3f6fa;
    height: 100%;
    padding: 10px;
    .main-content {
      padding-top: 10px;
    }
  }
}
